body{
    background-color: black;
}


.container , .container2 {
    color: green;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card , .card2 {
    width: 100px;
    height: 100px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 36px;

}


h1{
    background-color: brown;
}

.add-card ,.remove-card{
    cursor: pointer;
    background-color: chocolate;
    color: black;   
    position: absolute; 
    border-radius: 50%;
}

.add-card{
    bottom: 50px;
    left: 50px;

}
.remove-card{
    bottom: 50px;
    right: 50px;
}
 