*{
    margin:0;
    box-sizing: border-box;
    
    font-family: 'Heebo';
}

body{
   background-color:rgb(222,205,172);
   /* min-height: 100vh; */
}

button{
    cursor: pointer;

} 

.container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.487);
}

.popup-container{
    /* position: fixed; */
    /* inset: 0;
    margin: auto; */
    width: 690px;
    height: 346px;
    background-color: #fff;
    padding: 40px;
    border-radius: 42px;
    box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.208) ;
     position: absolute;
     top: 50%;
     left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all 0.25s ease-in-out;
   /* top: 0;
   left: 0; */
}


.show-popup .popup-container{
    display: block;
    transform: scale(1);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup-container img{
    border-radius: 50%;     
    position: relative;
    top: -90px;
    float:left;
}
.close-icon{
    position: absolute;
    right: 18px;
    top: 2px;
    background-color: inherit;
    font-size: 48px;
     border-radius: 24px;
     color: gray;
     cursor: pointer;
}

.text{
    display: inline-block;
    padding-left: 36px;
}

h2{
    font-size: 48px;
    font-weight: 500;
}

.email-input{
   
    border: 1px solid rgba(175, 161, 135, 1);
    padding: 15px;
    border-radius: 30px 0 0 30px;
    width: 70%;
    
}

.Subscribe{
    display: inline-block;
    padding:15px ;
    width: 30%;
    background-color:  rgba(235, 191, 83, 1);
    margin-left: -4.5px;
    color: white;
    /* font-size: 18px; */
    border-radius:  0 30px 30px 0;

    border: 1px solid rgba(235, 191, 83, 1)

;
}

.overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.499);
    display: none;
}

.show-popup .overlay{
    display: block;
}

 

 